/* body{

    display: grid;
    justify-content: center;
}

#container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell{
    
    width: 70px;
    height: 70px;
    background-color: black;
    box-sizing : border-box;
} */

* {
  
    box-sizing: border-box;    
    
}

.main-container {
   
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
